@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .main {
    background-image: url("../assets/images/bg.png");
    background-size: contain;
    background-position: center;
    padding: 2rem;
    .groups {
      width: 18%;
    }
    .playoff {
      width: 71%;
    }
  }

  .header {
    margin: auto;
    text-align: center;
    h1 {
      @apply text-2xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl text-white font-extrabold mb-8 mx-auto;
      text-align: center;
      font-family: monospace;
    }
  }

  .footer {
  }
}
